
/* General */

* {
  margin: 0;
  font-size: 16px;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

body {
  background-color: #f5f5f5;
}

header {
  position: fixed;
  height: 40px;
  width: 100%;
  padding: 0 2px;
  background-color: #fff;
  z-index: 10;
  border-bottom: #a5a5a5 solid 1px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 20px 0;
}

/* typography */

h1 {
  font-family: 'IM Fell DW Pica', serif;
  font-size: 2.5em;
  border-bottom: #a0a0a0 solid 1px;
}

h2 {
  font-weight: bold;
  font-size: 1.25em;
}

.smalltext,
.insidecol .smalltext {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.25rem;
}

.insidecol p {
  font-size: 1.375em;
  line-height: 1.875rem;
}

.wrap figcaption p {
  color: #616161;
}

.smalltext span,
.smalltext a {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.smalltext a {
  color: #a0a0a0;
}

.side-text span {
  font-size: 0.875em;
  padding-left: 5px;
}

.side-text h2 {
  border-bottom: #a0a0a0 solid 1px;
  padding-bottom: 20px;
}

.boxsuggart span {
  text-align: right;
  color: #a5a5a5;
}

.boxsuggart > span {
  color: black;
}

/* IMAGES */

/* logo */

.logo img {
  height: 30px;
  width: 200px;
  margin: 5px 0;
}

.main-pic img {
  display: block;
  height: 550px;
  width: 950px;
  margin: auto;
}

.boxsuggart img {
  height: 180px;
  width: 250px;
}

.side-text img {
  max-height: 80px;
  max-width: 80px;
}

.grid-container div img {
  height: 150px;
  width: 220px;
}

#parr-2 img {
  height: 400px;
  width: 600px;
}

#suggestions .boxsugg img {
  height: 80px;
  width: 80px;
}

figure iframe {
  border: none;
}

/* POSITIONING */

/* horizontal navigators */

.row-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.share {
  justify-content: flex-start;
}

.round-button a {
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(206, 206, 206, 0.4);
}

.row-nav li {
  padding: 0 10px;
}

header ul .logo {
  display: flex;
  justify-content: center;
  flex: 10;
}

.button a {
  padding: 5px;
  padding-top: 7px;
  background-color: #567b95;
  color: white;
  text-transform: uppercase;
  border: #326891 solid 1px;
  border-radius: 2px;
}

.fa-comment-alt {
  display: inline-block;
  position: relative;
  font-size: 1.875em;
}

.fa-comment-alt::after {
  content: '514';
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 25%;
  font-size: 0.625rem;
}

/* main article */

.wrap {
  padding-top: 100px;
  position: relative;
}

.no-aside {
  max-width: 600px;
  margin: auto;
  padding: 20px 0;
}

.have-aside {
  position: relative;
}

.col-left {
  width: 600px;
  margin: auto;
}

.side-text {
  margin: auto;
  float: right;
  padding: 50% 0;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  justify-content: space-between;
  margin-right: 40px;
}

.side-text a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* action call */

.action-call {
  position: relative;
}

.action-call hr {
  width: 70px;
  margin: 10px auto;
}

.action-call span {
  display: block;
  text-align: center;
}

.action-call a {
  color: #326891;
  font-weight: bold;
}

/* outside the main article */

.full-width {
  max-width: 945px;
  margin: auto;
}

/* grid */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cell {
  padding: 10px;
}

.insideart hr {
  width: 70px;
  margin-bottom: 10px;
}

/* article footer */

#parr-2 div {
  padding-bottom: 0;
}

#parr-2 .last-p {
  margin-bottom: 0;
}

.footart nav {
  padding-top: 20px;
}

.footart .smalltext {
  font-size: 0.625em;
}

/* suggestions */

#suggestions {
  display: flex;
  padding: 40px;
}

#suggestions .suggright {
  flex-basis: 25%;
  margin-left: 20px;
  border-top: black solid 1px;
  padding-top: 20px;
}

.suggright h2 {
  font-size: 1em;
  margin-bottom: 20px;
}

.suggright a {
  display: block;
  font-size: 1.25em;
  padding: 10px;
  border-top: #a5a5a5 solid 1px;
}

#suggestions .suggleft {
  flex-basis: 75%;
  margin-right: 20px;
  border-top: black solid 1px;
  padding-top: 20px;
}

.suggleft .sugg-sec1 {
  display: flex;
  justify-content: space-between;
}

.boxsugg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  border: #a5a5a5 solid 1px;
  padding: 10px;
  margin-top: 20px;
}

.boxsugg i {
  display: inline;
  float: right;
  font-size: 2.25em;
  left: 80%;
}

.boxsugg span {
  clear: left;
  display: block;
}

.logo span {
  float: right;
  color: #326891;
  line-height: 40px;
  font-size: 0.75em;
}

.suggleft > div > span {
  float: right;
}

.boxsugg a {
  color: #326891;
}

.suggleft .sugg-sec2 {
  display: flex;
  flex-wrap: wrap;
}

.suggleft .topdiv {
  display: block;
  border-top: black solid 1px;
  padding: 10px 0;
  margin-top: 30px;
}

.boxsuggart {
  padding: 10px 0;
  padding-right: 10px;
}

.sugg-sec2 .boxsuggart {
  width: 260px;
}

/* footer */

footer {
  margin: 0 40px;
  padding-bottom: 50px;
  border-top: #a0a0a0 double 3px;
}

.footernav {
  display: flex;
  justify-content: space-between;
}

.footernav ul {
  padding: 10px 0;
}

.footernav li a {
  font-weight: normal;
}

.big-ul li a {
  font-weight: bolder;
  font-size: 0.875rem;
}

.big-ul li {
  padding: 5px 0;
}

.border-top {
  border-top: #a5a5a5 solid 1px;
}

.border-left {
  border-left: #a5a5a5 solid 1px;
  padding-left: 20px;
  flex-basis: 15%;
}

/* copyright */

.copyright ul {
  display: flex;
  justify-content: space-between;
  border-top: #a5a5a5 solid 1px;
  margin-top: 20px;
  padding: 10px 20px;
}

.copyright li a {
  font-size: 0.875em;
  font-weight: lighter;
  color: #a0a0a0;
}

.footernav .smalltext a {
  color: black;
}

/* fixed footer */

#bottom-footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  padding: 0 2px;
  background-color: #fff;
  z-index: 10;
  border-top: #000 solid 1px;
  display: inline-block;
}

#bottom-footer .textfooter {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

#bottom-footer .iconsfooter {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  vertical-align: baseline;
  padding: 0 50px;
}

#bottom-footer .iconsfooter span {
  font-weight: bold;
  padding-right: 40px;
}

/* form */

#comments {
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 180px;
  height: 80px;
  padding: 5px;
  margin-left: 1px;
  border: #616161 solid 2px;
  border-radius: 10px;
  background-color: #e6e6e6;
  transition: all 0.5s ease;
}

#comments h2 {
  font-size: 0.875em;
  text-align: center;
  padding: 10px 0;
}

#comments fieldset {
  padding: 5px 0;
  border: none;
}

#comments label {
  padding: 5px 0;
}

#comments textarea {
  resize: none;
  border: #616161 solid 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}

#comments button {
  margin-top: 5px;
}

#comments:hover {
  width: 280px;
  height: 470px;
}

#comments .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comments .input-form-width {
  width: 258px;
  border: #616161 solid 1px;
  border-radius: 5px;
}

#comments input:invalid {
  border: #df3131 solid 1px;
}

/* queries */

@media all and (max-width: 1040px) {
  .side-text {
    display: none;
  }
}
